PORT=50001

NODE_ENV=development

TOKEN_SECRET=bd39284859f220e8cbrtyuid2383737373aea157a9e563c8ff6c584kjfjj95089315a4
SESSION_SECRET_LENGTH=32
MAX_FAILED_ATTEMPTS=5
LOCK_PERIOD_IN_MINS=2
LOCK_CONTINUOUS_PERIOD_IN_MIN=2
TTL_RENEW_MINS=5
TTL_EXPIRY=100
SESSION_DAY_TIME_FORMAT=min

DB_MYSQL_CONNECTION_LIMIT=10
DB_MYSQL_HOST=172.26.6.9
DB_MYSQL_PORT=3306
DB_MYSQL_USER=ehubdevsql
DB_MYSQL_PASSWORD=3hUbsA1fTB@nKp)c
DB_MYSQL_DATABASE=ehub_admin_auth_db

DB_DYNAMO_REGION=us-west-2
DB_DYNAMO_ENDPOINT=http://127.0.0.1:8000
DB_DYNAMO_ACCESS_KEY=A
DB_DYNAMO_SECRET_ACCESS_KEY=IcS
DB_DYNAMO_API_VERSION=2012-08-10

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=2
REDIS_PASS=redis@1234
REDIS_CACHE_EXPIRES=24
REDIS_ECONNREFUSED_RECONNECTION_TIME=5000
REDIS_TOTAL_RETRY_TIME=3600000
REDIS_RETRY_MAX_ATTEMPT=50
REDIS_ECONNREFUSED_MAX_RETRY_ATTEMPT=3

LOG_LEVEL=debug
LOG_PATH=/mcs/admin_auth/server
LOG_FILES=true
LOG_FORMAT=sentence
ELASTIC_SEARCH_LOGGING_URL=http://175.41.152.201:9200
ELASTIC_SEARCH_LOG_LEVEL=trace
ELASTIC_SEARCH_INDEX_PATTERN=ehub-log

SERVICE_NAME=admin_auth
ZIPKIN_URL=http://localhost:9411/api/v2/spans
ZIPKIN_PORT=9411

SALT_ROUNDS=10
JWT_HASH_ALGORITHM=HS256
JWT_ISSUER=ehub
JWT_EXPIRES=24h

FROM_SENDER_EMAIL=info@everly.io

DEFAULT_RES_LANGUAGE=en
PROFILE_PIC_URL=everly.io

KAFKA_BROKER_PRODUCER=54.212.6.108:9092
KAFKA_BROKER_CONSUMER=54.212.6.108:9092
